.ItemDetailBuy {
  background-color: #ffffff;
  margin-bottom: 10px;
}

.ItemDetailBuy__title {
  font-size: 180%;
  margin:0;
  padding-bottom: 10px;
}

.ItemDetailBuy__price {
  font-size: 170%;
  padding-bottom: 10px;
}
.ItemDetailBuy__content {
  padding: 10px;
}

.ItemDetailBuy__measurements {
  font-size: 140%;
}

.flex-row {
  display: flex;
  justify-content: center;
}

.ItemDetailBuy-Btn {
  font-size: 120%;
}

@media screen and (max-width: 1050px) {
  .ItemDetailBuy__title {
    font-size: 90%;
  }

  .ItemDetailBuy__price {
    font-size: 90%;
  }

  .ItemDetailBuy__measurements {
    font-size: 80%;
  }

  .ItemDetailBuy-Btn {
    font-size: 80%;
  }
} 

@media screen and (max-width: 685px) {
  .ItemDetailBuy__title {
    font-size: 110%;
  }
  .ItemDetailBuy {
    margin: 10px;
  }
} 

@media screen and (max-width: 545px) {
  .ItemDetailBuy__title {
    font-size: 90%;
  }
} 