.ItemDetailHeader {
 background-color: #ffffff;
 border: 1px solid #ffffff;
 font-size: 120%;
 text-align: center;
 position: relative;
}

.ItemDetailHeader__link {
  display: flex;
  align-items: center;
  top: 35px;
  left: 10px;
  position: absolute;
}

.ItemDetailHeader__link > :first-child {
  color: #b29600;
  font-size: 140%;
  margin-right: 5px;
}

.ItemDetailHeader__link > :last-child:link,
.ItemDetailHeader__link > :last-child:visited {
  color: #b29600;
  text-decoration: none;
}

@media screen and (max-width: 1050px) {
  .ItemDetailHeader {
    font-size: 80%;
  }

  .ItemDetailHeader__link {
    top: 24px;
  }
}