.Item {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  position: relative;
  width: 270px;
  height: 300px;
}

.Item__price {
  bottom: 10px;
  left: 20px;
  margin: 0;
  position: absolute;
}

.Item__favorite {
  bottom: 10px;
  right: 20px;
  position: absolute;
}

.fav {
  color: pink;
}

.Item__favorite:hover {
  cursor: pointer;
}