.Browse {
  position: relative;
}

.Browse-Btn {
    border: 1px solid #b29600;
    color: #b29600;
    font-size: 80%;
    border-radius: 25px;
    margin-bottom: 10px;
    left: 45%;
    padding: 5px 30px;
    position: relative;
}

@media screen and (max-width: 1050px) {
  .Browse-Btn {
    left: 40%;
  }
}

@media screen and (max-width: 515px) {
  .Browse-Btn {
    left: 35%;
  }
}